#root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;
}
.preloader {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-height: 95vh;
    background-color: #bbbbbbbb;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.preloader img {
    max-width: 25vw;
    max-height: 25vw;
}
footer {
    padding: 1em 2em;
}
.nav-link {
    font-size: larger;
}
.cart-nav {
    position: relative;
}
.cart-nav span {
    position: absolute;
    right: 3px;
    top:0;
    font-size: smaller;
}