.alert-bg {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #777777a7;
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert-fg {
    background-color: #fcfcfc;
    width: 33vw;
    min-width: 300px;
    height: 40vh;
    min-height: 300px;
}